.main{
width: 100%;
border: 2px solid #000;
display: flex;
flex-wrap: wrap;
/* justify-content:center; */
}
.left{
flex: 1;
background-color: #999;
  border: 2px solid #000;
  margin: 5px;
  padding:5px;

}
.right{
flex: 3;
background-color: #999;
  border: 2px solid #000;
  margin: 5px
}
@media screen and (max-width:480px){
  .main{
  border: 2px solid #000;
  display: flex;
  flex-wrap:wrap;
  flex-direction:column; 
  }
  .left{
  background-color: 8876;
    border: 2px solid #000;
    margin: 5px;
    padding:5px;
  }
  .right{
  background-color: #9976;
    border: 2px solid #000;
    margin: 5px
  }
}
@media only screen and (min-media:481px) and (max-width:768px){
}
